.rhythm {
    margin-top: 6.5em;
    text-align: left;
}

.beat {
    display: inline-block;
    width: 1.5em;
    text-align: center;
}

.beat-line {
    background-color: ghostwhite;
    width: 1px;
    height: 1.5em;
    display: inline-block;
}

.beat-duration-1 {
    margin-top: 0.13em;;
    height: 0.2em;;
}

.beat-duration-2 {
    margin-top: 0.75em;
    height: 0.75em;
}

.beat-duration-4 {
    height: 1.5em;
}

.beat-duration-8 {
    height: 1.5em;
}

.beat-duration-16 {
    height: 1.5em;
}