.rhythm {
    margin-top: 6.75em;
    text-align: left;
}

.beat {
    display: inline-block;
    width: 1.5em;
    text-align: center;
}

.beat-stem {
    background-color: ghostwhite;
    width: 0.079em;
    height: 1.5em;
    display: inline-block;
}

.beat-duration-1 {
    margin-top: 0.13em;;
    height: 0.2em;;
}

.beat-duration-2 {
    margin-top: 0.75em;
    height: 0.75em;
}

.beat-duration-4 {
    height: 1.5em;
}

.beat-duration-8 {
    height: 1.5em;
}

.beat-duration-16 {
    height: 1.5em;
}

.beam {
    margin-top: -0.35em;
    background-color: ghostwhite;
    height: 0.15em;
    width: 1.57em;
}

.beam-first {
    margin-left: 0.72em;
    margin-top: -0.35em;
    background-color: ghostwhite;
    height: 0.15em;
    width: 0.85em;
}

.beam-last {
    margin-right: 0.79em;
    margin-top: -0.35em;
    background-color: ghostwhite;
    height: 0.15em;
    width: 0.78em;
}

.double-beam {
    margin-left: 0.72em;
    margin-top: -0.5em;
    background-color: ghostwhite;
    height: 0.1em;
    width: 1.57em;
}

.double-beam-first {
    margin-left: 0.72em;
    margin-top: -0.5em;
    background-color: ghostwhite;
    height: 0.1em;
    width: 0.85em;
}

.double-beam-last {
    margin-right: 0.79em;
    margin-top: -0.5em;
    background-color: ghostwhite;
    height: 0.1em;
    width: 0.78em;
}