
.tab {
    position: relative;
    width: 24em;
    margin-right: auto;
    margin-left: auto;
}

.tab-position {
    position: absolute;
    display: inline-block;
    color: ghostwhite;
    height: 1em;
    text-align: center;
    width: 1.5em;
    text-shadow: -1px 0 #333535, 0 1px #333535, 1px 0 #333535, 0 -1px #333535;
}

.tab-line {
    background-color: grey;
    height: 1px;
    position: absolute;
    margin-top: 0.6em;
}