
.tab {
    position: relative;
    width: 24em;
    height: 8em;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    margin-bottom: 1em;
}

.tab-position {
    position: absolute;
    display: inline-block;
    color: ghostwhite;
    height: 1em;
    text-align: center;
    width: 1.5em;
    text-shadow: -2px 0 #333535, 0 2px #333535, 2px 0 #333535, 0 -2px #333535;
}

.tab-line {
    background-color: grey;
    height: 1px;
    position: absolute;
    margin-top: 0.6em;
}

.tab-beat__0 {
    left: 0.0em;
}

.tab-beat__1 {
    left: 1.5em;
}

.tab-beat__2 {
    left: 3.0em;
}

.tab-beat__3 {
    left: 4.5em;
}

.tab-beat__4 {
    left: 6.0em;
}

.tab-beat__5 {
    left: 7.5em;
}

.tab-beat__6 {
    left: 9.0em;
}

.tab-beat__7 {
    left: 10.5em;
}

.tab-beat__8 {
    left: 12.0em;
}

.tab-beat__9 {
    left: 13.5em;
}

.tab-beat__10 {
    left: 15.0em;
}

.tab-beat__11 {
    left: 16.5em;
}

.tab-beat__12 {
    left: 18.0em;
}

.tab-beat__13 {
    left: 19.5em;
}

.tab-beat__14 {
    left: 21.0em;
}

.tab-beat__15 {
    left: 22.5em;
}

.tab-beat__16 {
    left: 24.0em;
}

.tab-beat__17 {
    left: 25.5em;
}

.tab-beat__18 {
    left: 27.0em;
}

.tab-beat__19 {
    left: 28.5em;
}

.tab-beat__20 {
    left: 30.0em;
}

.tab-beat__21 {
    left: 31.5em;
}

.tab-beat__22 {
    left: 33.0em;
}

.tab-beat__23 {
    left: 34.5em;
}

.tab-beat__24 {
    left: 36.0em;
}

.tab-beat__25 {
    left: 37.5em;
}

.tab-beat__26 {
    left: 39.0em;
}

.tab-beat__27 {
    left: 40.5em;
}

.tab-beat__28 {
    left: 42.0em;
}

.tab-beat__29 {
    left: 43.5em;
}

.tab-beat__30 {
    left: 45.0em;
}

.tab-beat__31 {
    left: 46.5em;
}

.tab-beat__32 {
    left: 48.0em;
}

.tab-string__1 {
    top: 0.0em;
}

.tab-string__2 {
    top: 1em;
}

.tab-string__3 {
    top: 2em;
}

.tab-string__4 {
    top: 3em;
}

.tab-string__5 {
    top: 4em;
}

.tab-string__6 {
    top: 5em;
}

.tab-string__7 {
    top: 6em;
}

.tab-string__8 {
    top: 7em;
}

.tab-line__1 {
    width: 3.0em;
}

.tab-line__2 {
    width: 4.5em;
}

.tab-line__3 {
    width: 6.0em;
}

.tab-line__4 {
    width: 7.5em;
}

.tab-line__5 {
    width: 9.0em;
}

.tab-line__6 {
    width: 10.5em;
}

.tab-line__7 {
    width: 12.0em;
}

.tab-line__8 {
    width: 13.5em;
}

.tab-line__9 {
    width: 15.0em;
}

.tab-line__10 {
    width: 16.5em;
}

.tab-line__11 {
    width: 18.0em;
}

.tab-line__12 {
    width: 19.5em;
}

.tab-line__13 {
    width: 21.0em;
}

.tab-line__14 {
    width: 22.5em;
}

.tab-line__15 {
    width: 24.0em;
}

.tab-line__16 {
    width: 25.5em;
}

.tab-line__17 {
    width: 27.0em;
}

.tab-line__18 {
    width: 28.5em;
}

.tab-line__19 {
    width: 30.0em;
}

.tab-line__20 {
    width: 31.5em;
}

.tab-line__21 {
    width: 33.0em;
}

.tab-line__22 {
    width: 34.5em;
}

.tab-line__23 {
    width: 36.0em;
}

.tab-line__24 {
    width: 37.5em;
}

.tab-line__25 {
    width: 39.0em;
}

.tab-line__26 {
    width: 40.5em;
}

.tab-line__27 {
    width: 42.0em;
}

.tab-line__28 {
    width: 43.5em;
}

.tab-line__29 {
    width: 45.0em;
}

.tab-line__30 {
    width: 46.5em;
}

.tab-line__31 {
    width: 48.0em;
}

.tab-line__32 {
    width: 49.5em;
}


