
.tab {
    position: relative;
    width: 24em;
    margin-right: auto;
    margin-left: auto;
}

.tab-position {
    position: absolute;
    display: inline-block;
    color: ghostwhite;
    height: 1em;
    text-align: center;
    width: 1.5em;
    text-shadow: -2px 0 #333535, 0 2px #333535, 2px 0 #333535, 0 -2px #333535;
}

.tab-line {
    background-color: grey;
    height: 1px;
    position: absolute;
    margin-top: 0.6em;
}

.tab-beat__0 {
    left: 0.0em;
}

.tab-beat__1 {
    left: 1.5em;
}

.tab-beat__2 {
    left: 3.0em;
}

.tab-beat__3 {
    left: 4.5em;
}

.tab-beat__4 {
    left: 6.0em;
}

.tab-beat__5 {
    left: 7.5em;
}

.tab-beat__6 {
    left: 9.0em;
}

.tab-beat__7 {
    left: 10.5em;
}

.tab-beat__8 {
    left: 12.0em;
}

.tab-beat__9 {
    left: 13.5em;
}

.tab-beat__10 {
    left: 15.0em;
}

.tab-beat__11 {
    left: 16.5em;
}

.tab-beat__12 {
    left: 18.0em;
}

.tab-beat__13 {
    left: 19.5em;
}

.tab-beat__14 {
    left: 21.0em;
}

.tab-beat__15 {
    left: 22.5em;
}

.tab-beat__16 {
    left: 24.0em;
}

.tab-beat__17 {
    left: 25.5em;
}

.tab-beat__18 {
    left: 27.0em;
}

.tab-beat__19 {
    left: 28.5em;
}

.tab-beat__20 {
    left: 30.0em;
}

.tab-beat__21 {
    left: 31.5em;
}

.tab-beat__22 {
    left: 33.0em;
}

.tab-beat__23 {
    left: 34.5em;
}

.tab-string__1 {
    top: 0.0em;
}

.tab-string__2 {
    top: 1em;
}

.tab-string__3 {
    top: 2em;
}

.tab-string__4 {
    top: 3em;
}

.tab-string__5 {
    top: 4em;
}

.tab-string__6 {
    top: 5em;
}

.tab-string__7 {
    top: 6em;
}

.tab-string__8 {
    top: 7em;
}

