
.tab {
    position: relative;
    width:20em;
    margin-right: auto;
    margin-left: auto;
}

.tab-position {
    position: absolute;
    display: inline-block;
    color: ghostwhite;
    height: 1em;
}

.tab-line {
    background-color: grey;
    height: 1px;
    position: absolute;
    margin-top: 0.6em;
}