.fretboard {
    margin-top: 3em;
    background-color: #222;
    width: 12em;
    position: relative;
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    vertical-align: top;
    box-shadow: 3px 4px 10px #222;
}

.fret {
    height: 0.20em;
    width: 12em;
    position: absolute;
    top: 2.5em;
    background-color: grey;
}

.guitar-string {
    background-color: darkgray;
    width: 0.12em;
    height: 100%;
    position: absolute;
    margin-right: 0.931em;
    box-shadow: 1px 0px 2px #333;
}

.wound {
    width: 0.2em;
    margin-right: 0.9em;
}