.circle {
    border-radius: 50%;
    width: 1.875em;
    height: 1.875em;
    background-color: white;
    color: black;
    text-align: center;
}

.position-text {
    display: inline-block;
    margin-top: 0.3125em;
    text-align: center;
}