.circle {
    border-radius: 50%;
    width: 1.875em;
    height: 1.875em;
    background-color: ghostwhite;
    color: #222;
    text-align: center;
    position: absolute;
    margin-top: -0.46875em;
}

.position-text {
    display: inline-block;
    margin-top: 0.3125em;
    text-align: center;
}