.App {
    text-align: center;
}

.App-logo {
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 20px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.fretboards-container {
    font-size: 75%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
